<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>

    <script src="/vendor/js/jquery.min.js"></script>
    <script src="/vendor/js/bootstrap.min.js"></script>
    <script src="/vendor/js/sockjs-0.3.4.js"></script>
    <script src="/js/jquery.eventEmitter.js"></script>
    <script src="/js/connection.js"></script>
</head>
<body>
<section class="container">
    <%- partial('../partials/navbar') %>

    <%- body -%>
</section>

</body>
</html>