<% layout('../layouts/page') -%>

<section id="react-app"></section>
<script id="initial-state" type="application/json"><%- state %></script>
<script type="text/javascript">
    console.log(Connection);
</script>
<script src="js/bundle.js"></script>